.active {
    color: green;
}
a .inactive {
    color: brown;
}

#nav-arrow {
    color: black;
    font-size: 20rem;
}


#nav-brand {
    font-size: 2.2rem;
    font-weight: 500;
    
}

#nav-brand:hover,
#navigation-link:hover {
    color: #8DC26F;
    transition: all 0.3s ease-in-out;
}
#navigation-link {
    color: #333333;
    font-size: 2em;
}
#navigation-link:hover {
text-decoration: underline;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
  color: #8DC26F;
}